config HAPTICS_CORE
    tristate "VIVO Haptics CORE support"
    depends on I2C
    help
        This option enables vibrator class driver support for not input-ff framework vibrator driver.
        Mainly used for the third party peripheral chip.
